@model GestionDeportiva.Models.Administradores

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>¿Esta seguro que desea eliminar este administrador?</h3>

<div class="d-flex flex-column justify-content-center">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreUsuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellidos)
            </dd>
        </dl>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class=" d-flex flex-row gap-2">
                <input type="submit" value="Borrar" class="btn btn-outline-danger" /> |
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-outline-info" })
            </div>
        }
    </div>
    
    
</div>
