@model GestionDeportiva.Models.Administradores

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalles del Administrador</h2>

<div>  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar Contraseña", "ChangePassword", new { id = Model.AdministradorId },new { @class="btn btn-outline-success"}) |
    @Html.ActionLink("Volver a la lista", "Index",null,new { @class="btn btn-outline-info"})
</p>
