@model GestionDeportiva.Models.Eventos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <h2>Detalles del Evento  @Model.Nombre</h2>
    </div>
</div>
<div class="container border-1 border-opacity-50 border-secondary rounded-1 rounded p-2">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <img src="@($"Data:image/PNG;base64,{Convert.ToBase64String(Model.Imagen)}")" class="d-block w-100 h-100" alt="..." />
                </div>
                <div class="col-md-4 rounded rounded-1">
                    <h4>
                        Descripción
                    </h4>
                    <p>
                        @Model.Descripcion
                    </p>
                    <hr />
                    <h4>
                        Fecha del evento
                    </h4>
                    <p>
                        @Model.Fecha.Value.ToLongDateString() a las @Model.Fecha.Value.ToLongTimeString()
                    </p>
                    <hr />
                    <h4>
                        Lugar
                    </h4>
                    <p>
                        @Model.Lugar
                    </p>
                    <hr />
                    <h4>
                        Tipo
                    </h4>
                    <p>
                        @Model.TiposEventos.Nombre
                    </p>
                </div>
            </div>
        </div>      
    </div>
</div>


<div class="d-flex gap-2">
    @if (Session["UserProfile"] != null)
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.EventoId }, new { @class = "btn btn-outline-success" })
        @Html.ActionLink("Eliminar", "Delete", new { id = Model.EventoId }, new { @class = "btn btn-outline-danger" })
    }
    @Html.ActionLink("Volver Atrás", "Index", null, new { @class = "btn btn-outline-info" })
</div>
