@using System.Drawing;
@model IEnumerable<GestionDeportiva.Models.Eventos>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="carouselExampleCaptions" class="carousel slide m-2 data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            <div class="carousel-item active"  data-bs-interval="2000" >
                <!--
                    Explicación src= ($"Data:image/PNG;base64,{Convert.ToBase64String(item.Imagen)}")
                    el {Convert.ToBase64String(item.Imagen) convierte el Byte[] que viene desde la DB y lo convierte en un Base64 interpretable por el navegador
                -->
                <img src="@($"Data:image/PNG;base64,{Convert.ToBase64String(item.Imagen)}")" class=" img-fluid object-fit-cover  d-block w-100" alt="..." style="height:45rem" >
                <div class="carousel-caption d-none d-md-block bg-dark opacity-75 rounded-2">
                    <h5>@item.Nombre</h5>
                    <p>@item.Descripcion</p>
                    <p>@item.Fecha.Value.ToLongDateString()</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr />

<div class="d-flex flex-md-wrap flex-column bg-opacity-50 m-2" style="background-color:lightgray">
    <div class="d-flex justify-content-center">
        <h2>Tabla de Eventos</h2>
    </div>
    <div>
        <p>
            lista de eventos disponibles en curso
        </p>
    </div>
    <div class="d-flex gap-3 p-3 flex-wrap justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card m-1" style="width: 18rem;">
                <img src="@($"Data:image/PNG;base64,{Convert.ToBase64String(item.Imagen)}")" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">@item.Descripcion.</p>
                    <p class="card-text">Fecha: @item.Fecha.Value.ToLongDateString() - @item.Fecha.Value.ToShortTimeString();</p>                    
                    @Html.ActionLink("Ver información", "Details", new { id = item.EventoId }, new { @class = "btn btn-sm btn-outline-primary" })
                </div>
            </div>
        }
    </div>

</div>
